<form method="post" action="/login">
    <input type="text" name="uname" >
    <input type="text" name="pass" >
    <button type="login">Đăng nhập</button>
    <button type="logout">Đăng xuất</button>
</form>